/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the 
  editor.
*/
/* 
    Created on : Mar 14, 2018, 4:30:56 PM
    Author     : SHOPINVERSE
*/

.header1{
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    /* margin-bottom: 1000px; */
    z-index: 2000;
}

.color-yellow{
    color:yellow;
}

.pointer-style{
    cursor:pointer;
}

.header2{
   
    top: 0 !important;
    width: 100% !important;
    /* margin-bottom: 1000px; */
    z-index: 2000;
}

.btn-wrapper {
    border:1px solid #000;
    display:inline-block;
    border-radius:10px;
}

.create-ad-image-box{
    padding:30px;
    border: 1px solid #D3D3D3;
    margin-left:10px;
    cursor:pointer;
    display:inline;
    float:left;
    position:relative;
    
    
}

.m-top-70{
    margin-top:40px !important;
}

.nxz{
    left:0 !important;
}

.label-char{
    font-size:12px;
}

.grey-border{
    border: 1px solid #D3D3D3;
}

.color-grey{
    background-color: #D3D3D3;
}

.left-logo{
    margin-left:39%;
}




.text-red{
    color:red;
}

.active-overlay{
    background:rgba(255,255,255,.3);
}

.border-dashboard{
    border:  1px solid #D3D3D3;
}

.margin-bottom-20{
    margin-bottom:20PX;
}

.table>thead>tr>th:nth-of-type(3n+1) {
     text-align: left !important; 
}

.light-purple{
    background-color:#ead7ea;
}

.border-radius-50{
    border-radius:50%;
}

.font-large{
    font-size:large;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

.width-53{
        width:50% !important;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

body{
    background-color:#f3f3f5 !important;
}

.animate{
-webkit-animation-play-state: running;
}

.padding-left-right-60{
    padding-left:80px !important;
    padding-right:80px !important;
}

/* nav bar search box - drop down menu button */
.navbar .navbar-search .dropdown-menu { min-width: 25px; }
.dropdown-menu .label-icon { margin-left: 5px; }
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}


.back-color-white{
    background-color:white;
}

.width-50{
    width:50%!important;
}

.width-50-e{
    width:50%!important;
}


.padding-bottom-20{
    padding-bottom:20px;
}


.ham-burger{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 6px 0; 
    margin-top:0px;
}

input,
button {
    background-color:transparent;
    border:0;
}

.btn-1{
    
    border: 1px solid #5d5d5d;
    background-color: #ffffff;
}

.margin-right-20{
    margin-right:20px;
}

.padding-left-right-30{
    padding-left:30px;
    padding-right:30px;
}

.margin-top-20{
    margin-top:20px !important;
}

.margin-top-10{
    margin-top:10px !important;
}

.purple-button{
    position:absolute;
    /* background-color:#92278f; */
    top:50%;
    left:32%;
    font-size:20px;
    color:white;
    padding:5px;
    border:none;
    padding-right:15px;
    padding-left:15px;
    font-weight:lighter;
}

.body{
  background-color:#f3f3f5; 
  overflow-x:hidden;
}

.btn-width-50{
    width:50px;
}

.purple-border{
    border: 1px solid #92278f !important;
}

.border-radius-10{
    border-radius:10px;
}

.home-background{
    background-color:#f3f3f5;
    min-height:100%;
    overflow-x:hidden;
}

.container-color-padding{
    background-color: white;
    padding: 5px;
    padding-left: 30px;
   /* padding-top: 40px; */
}

.padding-top-10{
    padding-top:10px;
}

.padding-top-20{
    padding-top:20px !important;
}

.padding-50{
    padding:50px;
    padding-left:120px;
    padding-bottom:0px;
}

.margin-right-60{
    margin-right:60px;
}

.padding-bottom-20{
    padding-bottom:20px !important;
}

.background-color-white{
    background-color:white;
}

.round-purple{
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    color:white;
   /* background-color: #92278f; */
    max-width: 100px;
    max-height: 100px;
}

.padding-10{
    padding:10px;
}

.back-banner-showme{
    background: url("/images/awoof2.jpg");
    margin-top:10px;
    height:300px;
}

.color-purple{
    background-color: #92278f !important;
}

.color-white{
    color:white !important;
}

.height-20{
    height:20px;
}

.remove-box-shadow{
    box-shadow:none;
}

.purple-button-2{
    position:absolute;
    /* background-color:#92278f; */
    top:50%;
    left:20%;
    font-size:20px;
    color:white;
    padding:5px;
    border:none;
    padding-right:15px;
    padding-left:15px;
    font-weight:lighter;
}

.bb-mobile{
    display:none;
}

.remove-border{
    border:none;
}

.search-mobile{
       position: absolute;
       left: 730px;
}

.click-add{
    transition: all 0.5s ease 0s;
    
    border: solid white 1px !important;
    background-color:#92278f !important;
    color:white !important;
}

.clicks{
    transition: all 0.5s ease 0s;
    
    border: solid white 1px !important;
    background-color:#92278f !important;
    color:white !important;
}

.click-properties{
    border: solid #92278f 1px !important;
    background-color:white !important;
    color:#92278f !important;
    transition: all 0.5s ease 0s;
}

.centralize{
    margin:0 auto !important;
}

.text-color-white{
    color:white;
}

.m-top-100{
    margin-top:100px !important;
}

.text-color-black{
    color:black !important;
}

.padding-3{
    padding:3px;
}

.color-verified-tick{
    background-color:#127ffe;
}
.left-27{
    margin-left:27%;
}

._collapz_parant{
        transform: rotate(1deg)!important;
}

.purple-underline{
    text-decoration: underline;
    color:#92278f;
    /* font-weight:800px; */
}


@media only screen and (min-width: 100)  and (max-width: 1000) {
    
  
}



@media only screen and (min-width: 1024px)  and (max-width: 1024px) {
    
    .photo-count {
    background: none repeat scroll 0 0 #ccc;
    border: 0 0;
    border-radius: 0;
    font-size: 12px;
    opacity: .9;
    padding: 0 3px;
    position: absolute;
    /* right: 0px; */
    top: 5px;
    right: 100px;
}
}


@media only screen and (max-width: 1200px) {
    
     .dd-m{
        font-size:14px !important;
    }
    
    .dd-m-width{
        width:100% !important;
    }
    
    .dd-m-width-90{
        width:90% !important;
    }
    
    
}

.bottom-40{
    margin-bottom:40px;
}

.rem-btn{
       display:none;
 }
 
 .f-sm-7{
     
     margin-left:38%;
     
 }
 
 
 .f-sm-8{
     
     margin-left:38%;
     
 }
 
 .cat-text2{
     display:none;
 }

@media only screen and (max-width: 600px) {
    
    
    .bar {
      width: 100% !important;
      padding: 5px !important;
    }
    
    .bbn{
        display:none;
    }
    
    .bbn2{
        display:block !important;
    }
    
    
    .width-53 {
        width: 100% !important;
     }
    
    .f-sm-7{
     
     margin-left:38%;
     
    }
    
    .cat-text2{
     display:block;
     margin-left:120px;
     color:blue;
     font-size:12px;
     margin-top:-13px;
 }
 
 .add-title{
     display:none;
 }
    
    .btn-group>.btn.mar-left-10{
        margin-left:50px;
    }
    
    .f-sm-8{
     
     margin-left:28%;
     
     
    }
    
    .img-box1{
        height:100px;
    }
    
    .position-form{
        position: absolute;
        left: 50px;
    }
    
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 220px;
    }
    
    .left-logo{
      margin-left:20%;
      width:100px;
    }
    
    .btn{
        font-size:8px!important;
     }
     
     .btn-group>.btn:first-child {
        width: 28%;
     }
    
    .remaining{
        display:none;
    }
    
    .rem-btn{
       display:block;
    }
    
    .search-in{
        display:none;
    }
    
    .font-search{
        font-size:12px !important;
        padding: 5px 10px !important;
    }
    
    .pic-responsive{
        height:100px !important;
        width:100px !important;
    }
    
    .bottom-40{
    margin-bottom:10px;
    }
    
    .display-0{
        display:none;
    }
    
   .tbtn {
    color: #fff;
    font-size: 30px;
    height: 42px;
    width: 30px;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    background: #90298c;
    z-index: 999;
    top: 170px;
    left: 0;
}
    
   
    
    .small-font{
        font-size:10px;
    }
    
    .left-27{
        margin-left:20%;
    }
    
    .f-size{
        font-size:10px  !important;
    }
    
    .btn-circle.btn-xl {
    width: 35px;
    height: 35px;
    padding-left:22%;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 35px;
    }
    
    .width-50-e{
      width:100%!important;
    }
    
    .ddx{
        padding-left:40px;
    }
    
    .m-top-100{
       margin-top:130px !important;
    }
    
   
    
    
   .bar-e{
  
    float:left;
  
   }
    
    .bb-mobile{
       display:inline;
       margin-top:20px;
    }
    
    .bb-m-padding{
        padding-top:0px;
    }
    
    .purple-button{
  
      font-size:10px;

    }
   
   .purple-button-2{
    
      font-size:10px;
      padding-right:0px;
      padding-left:0px;
 
    }
    
    .padding-20{
        padding:20px !important;
    }
    
    .padding-10{
        padding:10px !important;
    }
    
    
    .padding-50{
        padding-right:15px;
        padding-left:30px;
        padding-bottom:0px;
    }
    
    .round-purple{
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
   /* background-color: #92278f; */
    max-width: 50px;
    max-height: 50px;
   
    }
    
    .bb-m-text-20{
        font-size:20px;
    }
    
    .fa-3x{
        font-size:1.5em !important;
    }
    
    .margin-top-50{
        margin-top:15px !important;
    }
    
    .width-50{
        width:50px !important;
    }
    
    
    
    .click-properties{
    border: solid #92278f 1px;
    background-color:white;
    color:#92278f;
    }
    
    .font-size-10{
       font-size:10px;
    }
    
    .text-left{
        text-align:left;
    }



}

.margin-top-50{
    margin-top:50%;
    
}

.width-100{
    width:100px;
}

.dropbtn {
    background-color: white;
    color: #5d5d5d;
   /* border:1px solid #5d5d5d; */
    
    padding: 5px;
    font-size: 30px;
    padding-top:5px;
   
    cursor: pointer;
    height:30px;
}



#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
    height:20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.bar{
    width: 50%; 
    padding: 5px !important;
}



.social-icon-font{
     font-size:25px;
}

.margin-top-8{
    margin-top:8px;
}

.fb{
     background-color: #3c5998 !important;
     color: white !important;
}

.google-chrome{
     background-color: #da5946 !important;
     color: white !important;
}

.twitter{
    background-color:#00aced !important;
    color:white;
}


.footer1{
  
    position: fixed;
  
    bottom: 0 !important;
    width: 100% !important;
    
}

.footer2{
  
    
  
    bottom: 0 !important;
    width: 100% !important;
    
}

.float-none{
    float:none !important;
}

.height-50{
    height:50%;
}

.padding-50{
    padding:50px;
}

body{
    padding:0px !important;
}

.width-100{
    width:100%;
}



/* .dropdown a:hover {background-color: #ddd} */

.show {display:block;}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
  
    display: inline;
    top: 0;
    /*margin-left: -25px;*/
    margin-right: 5px;
    padding: 0;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 0;
    background: transparent;
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox
}

input[type=checkbox]:focus {
    border: 1px solid #92278f;
}

input[type=checkbox]:before {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    width: 18px;
    height: 18px;
    border: 2px solid #555;
    box-sizing: border-box
}

input[type=checkbox]:checked:before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 9px;
    border-color: #92278f;
    border-top-style: none;
    border-right-style: none
}

input[type=checkbox]:focus:before {
    border-color: #92278f;
}

input[type=checkbox]:after {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: 24px;
    height: 24px;
    background:white;
    cursor: pointer;
    box-sizing: border-box
}

.sign-in-button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
}

.text-color-purple{
    color:#92278f;
}

.margin-top-10{
    margin-top:10px;
}

.test + .tooltip > .tooltip-inner {
      background-color: #92278f; 
      color: #FFFFFF; 
      border: 1px solid white; 
      padding: 15px;
      font-size: 20px;
  }
  /* Tooltip on top */
  .test + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid white;
  }
  /* Tooltip on bottom */
  .test + .tooltip.bottom > .tooltip-arrow {
      border-bottom: 5px solid blue;
  }
  /* Tooltip on left */
  .test + .tooltip.left > .tooltip-arrow {
      border-left: 5px solid red;
  }
  /* Tooltip on right */
  .test + .tooltip.right > .tooltip-arrow {
      border-right: 5px solid black;
  }
